@font-face {
    font-family: "NotoSerifCJKsc-Black";
    src: url("assets/font/NotoSerifCJKsc-Black.otf") format("opentype");
  }

.wrapper {
    background: url("assets/images/bg.png");
    background-size: cover;
    display: flex;
    width: 60%;
    margin: 10% auto;
    height: 73px;
    max-width: 916px;
}
.info {
    background: url(assets/images/infobg-normal.png) 100% 100% no-repeat;
    background-size: contain;
    font-size: 28px;
    width: 89%;
    text-align: center;
    font-family: "NotoSerifCJKsc-Black";
    color: #3b0008;
    text-shadow: 0px 1px #ffc600;
    cursor: pointer;
}
.info:hover {
    background: url(assets/images/infobg-hover.png) 100% 100% no-repeat;
    background-size: contain;
}
.info-block {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4.5%;
    margin-top: 2.8%;
    height: 39px;
}
.info img {
    width: 19%;
}
.button-plus, .button-minus {
    background: url(assets/images/bg-normal.png) 100% 100% no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-minus-block {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88%;
    margin-left: 2%;
}
.button-plus-block {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88%;
    margin-right: 2%;
}
.button-plus:hover, .button-minus:hover {
    background: url(assets/images/bg-hover.png) 100% 100% no-repeat;
    background-size: contain;
}
.bet-block {
    width: 15.5%;
    display: flex;
    align-items: center;
    background: url(assets/images/bg-field-bet.png) 100% 100% no-repeat;
    background-size: contain;
    height: 41px;
    margin-left: 0.5%;
    margin-top: 2.5%;
}
.button-plus img, .button-minus img {
    width: 50%;
}
.total-bet-title, .coin-title {
    color: #ff6972;
    font-family: "NotoSerifCJKsc-Black";
    font-size: 8px;
    margin: 0;
    margin-top: 5%;
}
.total-bet-block {
    width: 60%; 
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 36px;
}
.total-count, .coin-count {
    color: #ffd100;
    font-family: "NotoSerifCJKsc-Black";
    margin: 0;
    font-size: 12px;
}
.coin {
    background: url(assets/images/bg-field.png) 100% 100% no-repeat;
    background-size: contain;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.coin-block {
    height: 41px;
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    margin-left: 0.5%;
}
.win-block {
    background: url(assets/images/win-bg.png) 100% 100% no-repeat;
    background-size: contain;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    margin-top: 1%;
}
.win {
    width: 80%;
}
.win img {
    width: 100%;
    height: auto;
}
.turbo {
    background: url(assets/images/bg-active.png) 100% 100% no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.turbo-block {
    display: flex;
    align-items: center;
    height: 41px;
    width: 7%;
    margin-top: 2.5%;
}
.turbo-button {
    background: url(assets/images/btn-on-normal.png) 100% 100% no-repeat;
    background-size: contain;
    width: 90%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    cursor: pointer;
}
.turbo-button:hover {
    background: url(assets/images/btn-on-hover.png) 100% 100% no-repeat;
    background-size: contain;
}
.turbo-button img {
    width: 75%;
}
.auto-button {
    width: 24%;
    display: flex;
    margin-left: 20%;
    margin-top: 1%;
}
.auto-block {
    width: 90%;
    height: 41px;
    background: url(assets/images/auto-bg-normal.png) 100% 100% no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}
.auto-block:hover {
    background: url(assets/images/auto-bg-hover.png) 100% 100% no-repeat;
    background-size: contain;
}
.auto-button img {
    width: 100%;
}
.spin-block {
    background: url(assets/images/spinbg-normal.png) 100% 100% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 8%;
    height: 123px;
    right: 23%;
    justify-content: center;
    margin-top: -1%;
    cursor: pointer;
}
.spin {
    width: 70%;
    height: 69px;
}
.spin img {
    width: 100%;
    height: auto;
}
.spin-block:hover {
    background: url(assets/images/spinbg-hover.png) 100% 100% no-repeat;
    background-size: cover;
}
.spin:hover img {
    transform: rotate(360deg);
    transition: 0.5s;
}
.feature-block {
    background: url(assets/images/auto-hover-bgon.png) 100% 100% no-repeat;
    background-size: cover;
    position: absolute;
    right: 27.6%;
    bottom: 48%;
    width: 8%;
    height: 122px;
    z-index: -1;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s linear;
}
.feature-block ul {
    list-style-type: none;
    color: #ffd100;
    font-family: "NotoSerifCJKsc-Black";
    font-size: 10px;
    padding: 10%;
    margin-top: -2%;
}
.feature-block ul li:hover {
    color: white;
    cursor: pointer;
}
.auto-spin-block {
    width: 18%;
    height: 41px;
    margin-top: 2.5%;
    margin-left: 0.5%;
    z-index: 10;
}
.auto-spin-block:hover .feature-block {
    max-height: 122px;
    height: 122px;
}

